<div class="reset-password-container">
  <h2>Redefinir Senha</h2>

  <form (ngSubmit)="resetPassword()">
    <div>
      <label for="password">Nova Senha</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>

    <div>
      <label for="confirmPassword">Confirmar Senha</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>

    <button type="submit">Redefinir Senha</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
