<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Threads - Página de Feed</title>
    <link rel="stylesheet" href="nakedfeed.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="top-bar">
        <div class="profile">
          <img src="profile.jpg" alt="profile picture" />
          <input type="text" placeholder="Quais são as novidades?" />
        </div>
      </div>
      <div class="posts"></div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
