<div *ngIf="showOverlay" class="overlay"></div>

<div class="page-content" [class.disabled]="showOverlay">
  <div class="profile-container">
    
    <!-- Filtro de gênero -->
    <label for="genderSelect">Filtrar por Gênero:</label>
    <select id="genderSelect" [(ngModel)]="gender" (change)="onGenderChange(gender)">
      <option value="all">Todos</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
      
    </select>


    <!-- Exibição da mensagem de assinatura expirada -->
    <div *ngIf="hasActiveSubscription === false">
      <p>
        Sua assinatura expirou ou é inválida.
        <a routerLink="/subscribe">Renovar assinatura</a>
      </p>
    </div>
   
    
    
    


    <div class="profile-card" *ngFor="let user of users">
      <div *ngIf="user.secondPosts && user.secondPosts.length > 0">
      <div class="profile-pic">
        <img
         
          alt="{{ user.nickName || 'Usuário' }} "
        />
      </div>

      <div class="profile-info">
        <div *ngIf="mutualLikes[user._id]; else restrictedInfo">
          <a [routerLink]="['/profile', user._id]">
            <h3>{{ user.nickName }}</h3>
          </a>
          <p>{{ user.age }} anos</p>
        </div>
        
        <ng-template #restrictedInfo>
          <h3>Nome restrito</h3>
          <p>Você só pode ver mais detalhes após um match!</p>
        </ng-template>

        <button
          class="message-btn"
          *ngIf="mutualLikes[user._id]"
          (click)="goToChat(user._id)"
        >
          Iniciar Conversa
        </button>

        <button class="like-btn" (click)="likeUser(user._id)">
          <mat-icon>favorite</mat-icon>
        </button>

        <!-- Exibição dos posts de cada usuário -->
        <div *ngIf="user.secondPosts" class="user-posts">
          <mat-tab-group>
            <mat-tab *ngFor="let post of user.secondPosts | slice:0:2; let i = index">
              <ng-template mat-tab-label>
                <mat-icon>visibility</mat-icon> 
              </ng-template>
              <div class="post">
                <img *ngIf="post.media?.length" [src]="post.media[0]" alt="Post image" class="post-image" />
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
