.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  width: 180px;
  margin: 15px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-pic {
  height: 200px;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.profile-info {
  padding: 10px;
}

.message-btn,
.like-btn {
  width: 80%;
  margin: 5px 0;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ff5a5f;
  color: white;
  cursor: pointer;
}

.like-btn i {
  color: white;
}

.message-btn {
  background-color: #ff5a5f;
}

.like-btn:hover {
  background-color: #ff3b3b;
}
