<div class="profile-container">
  <div class="profile-card" *ngFor="let user of users">
    <div class="profile-pic">
      <a [routerLink]="['/profile', user._id]">
        <img
          [src]="user.profilePic || 'assets/default-pic.jpg'"
          alt="{{ user.nickName }}"
        />
      </a>
    </div>

    <div class="profile-info">
      <a [routerLink]="['/profile', user._id]">
        <h3>{{ user.nickName }}</h3>
      </a>
      <p>{{ user.age }} anos</p>
      <button
        class="message-btn"
        *ngIf="mutualLikes[user._id]"
        (click)="goToChat(user._id)"
      >
        Mensagem
      </button>

      <button class="like-btn" (click)="likeUser(user._id)">Conectar</button>
    </div>
  </div>
</div>

