@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url('/assets/images/Fundo Chat.png') no-repeat center center fixed;
    background-size: cover;
    color: #f2f2f2;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: rgba(33, 33, 33, 0.9);
    border-radius: 5px;
    padding: 20px;
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;
}

/* Chat */
.chat {
    width: 100%;
    height: 80%; /* Reduz a altura geral do chat */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 20px 20px 60px; /* Reduz o padding da área de mensagens */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: rgba(25, 25, 25, 0.9);
    padding: 5px 10px; /* Reduz o padding da caixa de envio de mensagem */
    display: flex;
    align-items: center;
    gap: 5px; /* Reduz o espaço entre os elementos */
    position: fixed;
    bottom: 0;
    left: 90px;
    width: 95%;
    height: 60px; /* Reduz a altura da caixa de envio */
}

.chat__input {
    padding: 10px; /* Reduz o padding do campo de input */
    border-radius: 5px;
    flex-grow: 1;
    background-color: #212121;
    font-size: 0.9rem; /* Diminui o tamanho da fonte */
    color: #f2f2f2; /* Garante que o texto escrito seja branco */
    outline: none;
}

.chat__input::placeholder {
    color: #999; /* Deixa o placeholder mais claro */
}

.chat__button {
    font-size: 1.0rem; /* Reduz o tamanho do botão de envio */
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.0rem; /* Reduz o tamanho do ícone */
}

.chat__messages > div {
    padding: 8px; /* Reduz o padding das mensagens */
    width: 100%;
    max-width: 200px; /* Reduz a largura máxima das mensagens */
    font-size: 0.8rem; /* Reduz o tamanho da fonte */
    font-weight: 500;
    margin-bottom: 10px; /* Reduz o espaçamento entre as mensagens */
    line-height: 18px; /* Diminui a altura da linha */
}

.message--self {
    background-color: #cacd92;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
}

.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}
