body {
    margin: 0; /* Remove a margem padrão */
    height: 100vh; /* Define a altura da página */
    background-image: url('/assets/images/Fundo Chat.png'); /* Define a imagem de fundo para a página inteira */
    background-size: cover; /* Ajusta a imagem para cobrir a tela inteira */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.chat-container {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 10px;
    background: rgba(131, 41, 41, 0); /* Fundo branco semitransparente para o contêiner */
    border-radius: 8px; /* Borda arredondada para o contêiner */
    border: none; /* Remove a borda do contêiner */
    box-shadow: none; /* Remove a sombra do contêiner */
    transition: transform 0.3s; /* Adiciona uma transição suave para a transformação */
}

.chat-container:hover {
    transform: scale(1.05); /* Aumenta o tamanho do contêiner em 5% ao passar o mouse */
}

.chat-title {
    text-align: center;
    margin-bottom: 1px;
    font-size: 24px;
    background-image: url('/assets/images/Fundo Chat.png'); /* Imagem de fundo para o título */
    background-size: cover; /* Ajusta a imagem para cobrir a área do título */
    color: white; /* Define a cor do texto como branco para contraste */
    padding: 30px; /* Adiciona espaçamento interno para o texto */
    border-radius: 40px; /* Arredonda os cantos do fundo do título */
    border: none; /* Remove qualquer borda */
    box-shadow: none; /* Remove qualquer sombra que possa estar causando o contorno */
  
}


.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.chat-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    
}

.chat-item.selected {
    background-color: #ff78788d; /* Destaque para o chat selecionado */
}

.messages-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    height: 500px; /* Ajuste conforme necessário */
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Alinha os itens na coluna */
    
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    max-width: 10%;
    clear: both; /* Clear floats */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para as mensagens */
}

.sent {
    background-color: #af564c; /* Cor verde para mensagens enviadas */
    color: #fff; /* Texto branco para contraste */
    float: right; /* Posiciona as mensagens enviadas à direita */
    text-align: right; /* Alinha o texto à direita */
    border-radius: 15px 0 15px 15px; /* Bordas arredondadas */
    max-width: 70%; /* Largura máxima para o balão */
    margin-right: 0; /* Remove margem direita para encostar no canto */
    margin-left: auto; /* Garante que o balão encoste totalmente à direita */
}

.received {
    background-color: #b1b0b081; /* Cor para mensagens recebidas */
    color: #faf8f8; /* Texto preto para contraste */
    float: left; /* Posiciona as mensagens recebidas à esquerda */
    text-align: left; /* Alinha o texto à esquerda */
    border-radius: 0 15px 15px 15px; /* Bordas arredondadas */
}

.message-sender {
    font-weight: bold;
}

/* Estilos para a área de entrada de mensagens */
.input-container-wrapper {
    margin-top: auto; /* Empurra o contêiner para o fundo */
    padding: 10px 0; /* Adiciona espaçamento vertical */
    border-top: 1px solid #6a6868; /* Borda superior para separar visualmente */
}

.input-container {
    display: flex; /* Flexbox para alinhar itens horizontalmente */
}

.message-input {
    flex: 1; /* Ocupa o máximo de espaço disponível */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #828080;
    background-color: #242323;
    color: #fff;
}

.send-button {
    padding: 10px;
    border-radius: 4px;
    background-color: #a73d28;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
    margin-left: 10px; /* Espaço entre o input e o botão */
}

.send-button:hover {
    background-color: #d9928d;
}
