<div class="carousel-wrapper" [ngClass]="{ visible: !isLoading }">
  <button class="arrow-btn left" (click)="prevImage()">&#10094;</button>

  <div class="container">
    <div class="image-container" *ngIf="currentIndex === 0">
      <img
        src="assets/images/mamaco 1.jpg"
        alt="{{ 'CAROUSEL.IMAGE_1_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_1_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="image-container" *ngIf="currentIndex === 1">
      <img
        src="assets/images/mamaco 2.jpg"
        alt="{{ 'CAROUSEL.IMAGE_2_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_2_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="image-container" *ngIf="currentIndex === 2">
      <img
        src="assets/images/mamaco 3.jpg"
        alt="{{ 'CAROUSEL.IMAGE_3_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_3_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="image-container" *ngIf="currentIndex === 3">
      <img
        src="assets/images/mamaco 4.jpg"
        alt="{{ 'CAROUSEL.IMAGE_4_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_4_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="image-container" *ngIf="currentIndex === 4">
      <img
        src="assets/images/mamaco 5.jpg"
        alt="{{ 'CAROUSEL.IMAGE_5_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_5_TEXT" | translate }}</p>
      </div>
    </div>
    <div class="image-container" *ngIf="currentIndex === 5">
      <img
        src="assets/images/ERO 6.jpg"
        alt="{{ 'CAROUSEL.IMAGE_6_ALT' | translate }}"
      />
      <div class="overlay">
        <p>{{ "CAROUSEL.IMAGE_6_TEXT" | translate }}</p>
      </div>
    </div>
  </div>

  <button class="arrow-btn right" (click)="nextImage()">&#10095;</button>

  <div class="dots">
    <span
      *ngFor="let image of images; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goToImage(i)"
    ></span>
  </div>

  <button class="special-button" (click)="goToHomePage()">
    {{ "CAROUSEL.GO_TO_HOME" | translate }}
  </button>
</div>
