body {
  background-image: url("/src/assets/images/sensual 2.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#form-container {
  background-color: rgb(39, 38, 38) !important;
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

h1 {
  color: #ff0000;
  font-size: 1.8rem;
}

input[type="email"],
input[type="password"] {
  background-color: #fdfbfb;
  color: #000; /* Altere para preto */
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #ff0000;
  border: none;
  color: #fff;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #cc0000;
}

.text-light {
  color: #ffffff;
}

.text-center a {
  color: #ffffff;
  text-decoration: none;
}

.text-center a:hover {
  text-decoration: underline;
}
