<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrossel de Imagens</title>
    <link rel="stylesheet" href="intro.component.css" />
  </head>
  <body>
    <div id="loading">
      <div class="heart"></div>
    </div>
    <div class="carousel-wrapper">
      <div class="container">
        <div class="image-container">
          <img src="ERO 1.jpg" alt="Imagem 1" />
          <div class="overlay">
            Encontrar a nossa alma gêmea é sempre complicado. Existem dezenas de
            aplicações, redes sociais, sites de encontro e ainda assim,
            continuámos à procura do verdadeiro amor. No Naked Love, livramo-nos
            de todos os filtros e roupas, para ver se há uma forma mais
            instintiva de o encontrar
          </div>
        </div>
        <button id="prevBtn" class="arrow-btn">&lt;</button>
        <button id="nextBtn" class="arrow-btn">&gt;</button>
        <div class="dots">
          <div class="dot active"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <button
          id="specialButton"
          class="special-button"
          onclick="window.location.href='Home.html';"
        >
          Ir para a Página Inicial
        </button>
      </div>
    </div>
    <script src="intro.component.ts"></script>
  </body>
</html>
