<div class="payment-container">
  <div class="payment">
    <h1>
      Tenha acesso ao conteúdo +18 por apenas 5 Euros. Você poderá ver fotos e
      vídeos íntimos de todos os usuários.
    </h1>
    <link rel="stylesheet" href="payments.component.css" />

    <img
      src="/assets/images/sensual 4.jpg"
      alt="Pagamento"
      class="payment-image"
    />

    <h1>+18</h1>

    <div class="additional-info animate">
      <h2>Acesso ao Conteúdo +18</h2>
      <h3>
        Tenha acesso ao conteúdo +18. Escolha o plano acessível a sua realidade
        e tenha acessos incríveis de vídeos íntimos de todos os usuários.
      </h3>
    </div>

    <div class="payment-options">
      <div class="option">
        <h2>€ 17,99 Mensais( Por Mês )</h2>
        <div class="actions">
          <button class="btn" (click)="plan1()">Realizar Pagamento</button>
        </div>
      </div>
      <div class="option">
        <h2>€ 89,94 Semestral ( A Cada 6 Meses )</h2>
        <h3>VALOR PROMOCIONAL!</h3>
        <div class="actions">
          <button class="btn" (click)="plan2()">Realizar Pagamento</button>
        </div>
      </div>
      <div class="option">
        <h2>€ 143,88 Anual ( A Cada 12 Meses )</h2>
        <p>Valor promocional</p>
        <div class="actions">
          <button class="btn" (click)="plan3()">Realizar Pagamento</button>
        </div>
      </div>
    </div>
  </div>

  <img
    src="assets/images/sensual 3.avif"
    alt="Sensual 3"
    class="center-image"
  />
</div>
