<div class="payment-container">
  <div class="payment">
    <link rel="stylesheet" href="payments.component.css" />

    <img
      src="/assets/images/mamaco 3.jpg"
      alt="{{ 'PAYMENTS.PAYMENT_IMAGE_ALT' | translate }}"
      class="payment-image"
    />

    <h1>{{ "PAYMENTS.TITLE" | translate }}</h1>

    <div class="cancel-subscription">
      <button class="btn cancel-btn" (click)="cancelSubscription()">
        {{ "PAYMENTS.CANCEL_SUBSCRIPTION" | translate }}
      </button>
    </div>

    <div class="payment-options">
      <div class="option">
        <h2>{{ "PAYMENTS.MONTHLY_PLAN" | translate }}</h2>
        <div class="actions">
          <button class="btn" (click)="plan1()">
            {{ "PAYMENTS.MAKE_PAYMENT" | translate }}
          </button>
        </div>
      </div>
      <div class="option">
        <h2>{{ "PAYMENTS.SEMESTRAL_PLAN" | translate }}</h2>
        <h3>{{ "PAYMENTS.SEMESTRAL_DISCOUNT" | translate }}</h3>
        <div class="actions">
          <button class="btn" (click)="plan2()">
            {{ "PAYMENTS.MAKE_PAYMENT" | translate }}
          </button>
        </div>
      </div>
      <div class="option">
        <h2>{{ "PAYMENTS.ANNUAL_PLAN" | translate }}</h2>
        <p>
          <strong>{{ "PAYMENTS.ANNUAL_DISCOUNT" | translate }}</strong>
        </p>
        <div class="actions">
          <button class="btn" (click)="plan3()">
            {{ "PAYMENTS.MAKE_PAYMENT" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <img
    src="assets/images/mamaco 1.jpg"
    alt="{{ 'PAYMENTS.CENTER_IMAGE_ALT' | translate }}"
    class="center-image"
  />
</div>
