<div class="payment-container">
  <div class="payment">
    <link rel="stylesheet" href="payments.component.css" />

    <img
      src="/assets/images/sensual 4.jpg"
      alt="Pagamento"
      class="payment-image"
    />

    <h1> Conteúdo +18</h1>

    <div class="cancel-subscription">
      <button class="btn cancel-btn" (click)="cancelSubscription()">
        Cancelar Assinatura
      </button>
    </div>

    <div class="payment-options">
      <div class="option">
        <h2>Mensal 17,99€ / Mês</h2>
        <div class="actions">
          <button class="btn" (click)="plan1()">Realizar Pagamento</button>
        </div>
      </div>
      <div class="option">
        <h2>Semestral 14,99€ / Mês</h2>
        <h3> Poupe até 17% total 89,94€.</h3>
        <div class="actions">
          <button class="btn" (click)="plan2()">Realizar Pagamento</button>
        </div>
      </div>
      <div class="option">
        <h2>Anual 11,99€ / Mês</h2>
        <p>
          <strong
            >Poupe até 33% (mais popular) total 143,88€.</strong
          >
        </p>

        <div class="actions">
          <button class="btn" (click)="plan3()">Realizar Pagamento</button>
        </div>
      </div>
    </div>
  </div>

  <img
    src="assets/images/sensual 3.avif"
    alt="Sensual 3"
    class="center-image"
  />
</div>
