<div class="container">
  <div class="feed">
    <div class="feed-header">
      <h4>ⓃakedLove</h4>
    </div>

    <div class="post-form">
      <textarea
        class="form-control mb-2"
        id="post-text"
        placeholder="O que você vai nos mostrar hoje?"
        [(ngModel)]="postContent"
        (focus)="openModal()"  
      ></textarea>

      <div class="d-flex align-items-center mb-2">
        <label class="mr-2" for="upload-image" style="cursor: pointer">
          <mat-icon>add_a_photo</mat-icon>
          <input
            type="file"
            id="upload-image"
            accept="image/*"
            style="display: none"
            (change)="onMediaSelected($event)"
          />
        </label>

        <label class="mr-2" for="upload-media" style="cursor: pointer">
          <mat-icon>videocam</mat-icon>
          <input
            type="file"
            id="upload-media"
            accept="image/*,video/*"
            style="display: none"
            (change)="onMediaSelected($event)"
            multiple
          />
        </label>
      </div>

      <img
        id="preview-image"
        class="preview-image mt-2"
        style="display: none; max-width: 25%"
        alt="Prévia da imagem"
      />

      <video
        id="preview-video"
        class="preview-video mt-2"
        style="display: none; max-width: 35%"
        controls
        alt="Prévia do vídeo"
      ></video>
      <button
        id="publish-button"
        class="btn btn-danger custom-btn"
        (click)="publishPost()"
        type="button"
      >
        Publicar
      </button>
    </div>

    <div *ngIf="loading" class="loading-bar"></div>

    <div
      *ngIf="alertMessage"
      class="alert"
      [ngClass]="{
        'alert-success': alertType === 'success',
        'alert-danger': alertType === 'error'
      }"
    >
      {{ alertMessage }}
    </div>

    <div id="posts-container" class="posts mt-4">
      <div *ngFor="let post of posts" class="post">
        <div class="post-header d-flex align-items-center">
          <img
            [src]="
              post.ownerProfileImageUrl ||
              '/src/assets/images/default-avatar.jpg'
            "
            alt="Avatar do usuário"
            class="avatar"
          />
          <div class="post-info ml-2">
            <h1>{{ post.ownerName }}</h1>
            <small>{{ post.createdAt | date : "short" }}</small>
          </div>
        </div>

        <div class="post-content mt-2">
          <p>{{ post.content }}</p>

          <div *ngIf="post.media && post.media.length > 0">
            <div *ngFor="let mediaUrl of post.media">
              <img
                *ngIf="isImage(mediaUrl)"
                [src]="mediaUrl"
                class="post-image"
                alt="Imagem do post"
                style="max-width: 25%; margin-top: 10px"
              />

              <video
                *ngIf="!isImage(mediaUrl)"
                [src]="mediaUrl"
                class="post-video"
                controls
                style="max-width: 25%; margin-top: 10px"
              ></video>
            </div>
          </div>
        </div>

        <div class="post-actions">
          <button
            (click)="likePost(post._id)"
            [class.liked]="post.likes && post.likes.includes(userId)"
          >
            {{ post.likes.length || 0 }}
            <mat-icon>thumb_up_alt</mat-icon>
          </button>

          <button
            *ngIf="post.owner === userId"
            (click)="deletePostFromFirstFeed(post._id)"
            class="btn btn-danger"
          >
            Deletar
          </button>
        </div>
      </div>
    </div>

    <!-- Botão de publicar dentro do feed, mas fixo -->
    <button
      id="publish-button"
      class="btn btn-danger custom-btn"
      (click)="publishPost()"
      type="button"
    >
      Publicar
    </button>

    <!-- Código do Modal -->
    <app-modal 
  [title]="'Seja Bem Vindo!'" 
  [content]="modalContent" 
  [showModal]="showModal" 
  [postContent]="postContent" 
  (close)="closeModal()"
  (publish)="publishPost()"> <!-- Escutando o evento de publicação -->
</app-modal>
  </div>
</div>
