/* Estilos globais */
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Layout principal */
.container {
  display: flex;
  height: 100vh;
}

.feed {
  flex-grow: 1;
  padding: 20px;
  background-color: #161616;
  overflow-y: auto;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.feed-header h4 {
  margin: 0;
  font-size: 1.8rem;
  color: #ff6347;
}

/* Formulário de criação de posts */
.post-form {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
}

textarea::placeholder {
  color: #999;
}

.post-form .d-flex {
  margin-top: 10px;
}

#publish-button {
  margin-left: 10px;
}

/* Preview da imagem */
.preview-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #444;
}

/* Postagens */
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.post-info span {
  color: #777;
  font-size: 0.8rem;
}

.post-content p {
  margin: 10px 0;
  color: #ccc;
}

.post-actions {
  display: flex;
  gap: 20px;
}

.post-actions button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.post-actions button:hover {
  color: #ff6347;
}

.loading-bar {
  width: 100%;
  height: 5px;
  background-color: #dc3545; /* Cor da barra de carregamento */
  animation: loading-animation 1s infinite; /* Animação */
}

@keyframes loading-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.alert {
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
