nav.navbar .btn {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border: none;
  background: none;
  color: white;
}

nav.navbar .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ccc;
}

nav.navbar .fa {
  font-size: 24px;
}
