.example-container {
  height: 100vh;
}

.sidenav {
  width: 80px;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.menu-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-item {
  padding: 20px 0;
  text-align: center;
  color: #888;
  transition: color 0.3s;
  position: relative; /* Necessário para pseudo-elementos */
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0; /* Posiciona na borda inferior */
  left: 10%; /* Deixa um pequeno espaço nas laterais */
  width: 80%; /* Reduz o comprimento da linha */
  height: 2px; /* Linha mais fina */
  background: white; /* Cor da linha */
  border-radius: 10px; /* Arredonda as pontas */
  box-shadow: -3px 3px 6px rgba(255, 255, 255, 0.3),
    /* Efeito 3D à esquerda */ 3px -3px 6px rgba(0, 0, 0, 0.5); /* Efeito 3D à direita */
  transition: all 0.3s ease; /* Suaviza os efeitos */
}

.menu-item:hover {
  color: white;
}

.menu-item:hover::after {
  width: 90%; /* Zoom na linha no hover */
  height: 3px; /* Linha mais grossa no hover */
  box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.5),
    /* Sombra mais forte à esquerda */ 5px -5px 10px rgba(0, 0, 0, 0.7); /* Sombra mais forte à direita */
}

.menu-item img.icon {
  width: 30px;
  height: 30px;
}

.menu-item.bottom {
  margin-top: auto;
  border-bottom: none;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #1976d2;
  color: white;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}
