<div class="modal" *ngIf="show">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>

    <div class="image-container" *ngIf="post?.media?.length">
      <img [src]="post.media[0]" alt="Imagem do Post" class="post-image" />
    </div>

    <div class="gray-container">
      <div class="content-container">
        <ng-container *ngIf="post">
          <p>{{ post.ownerName }} : {{ post.content }}</p>
          <p><mat-icon>favorite</mat-icon> {{ post.likes }}</p>
          <p>Data de criação: {{ post.createdAt | date : "short" }}</p>
          <button
            *ngIf="isOwner(post.owner)"
            (click)="deletePost(post._id)"
            class="delete-btw"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <div class="icon-container">
            <button (click)="likePost(postId)">
              <mat-icon>favorite</mat-icon>
            </button>
            <input
              #commentInput
              type="text"
              placeholder="Adicionar comentário"
            />
            <button (click)="addComment(postId, commentInput.value)">
              Enviar
            </button>
          </div>
        </ng-container>

        <div *ngFor="let comment of comments" class="comment">
          <img
            [src]="
              comment.owner?.profilePic || 'assets/images/default-avatar.jpg'
            "
            alt="Avatar do comentário"
            class="avatar"
          />
          <div class="comment-content">
            <hr class="comment-divider" />
            <p>
              <strong>{{ comment.owner?.nickName }}:</strong>
              {{ comment.content }}
            </p>

            <button
              *ngIf="canDeleteComment(comment.owner._id)"
              (click)="deleteComment(comment.id)"
              class="delete-btn"
            >
              Deletar
            </button>

            <small>{{ comment.createdAt | date : "short" }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
