body {
  background-color: #000;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

body::before,
body::after {
  content: "";
  position: fixed;
  width: 5px;
  height: 100%;
  background-color: #dc3545;
  z-index: -1;
}

body::before {
  left: 0;
}
body::after {
  right: 0;
}

.container {
  padding-top: 70px; /* Para dar espaço abaixo da navbar fixa */
}

.profile-container {
  text-align: center;
  margin: 20px auto;
}

.profile-picture {
  width: 150px; /* Ajustado para ser menor */
  height: 150px; /* Ajustado para ser menor */
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  border: 3px solid #dc3545; /* Aumentei a borda */
}

.post {
  background-color: #222;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px; /* Aumentei um pouco o padding */
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post .caption {
  font-weight: bold;
  margin-bottom: 5px; /* Ajustado para ser um pouco menor */
}

.post img {
  width: 100%;
  max-width: 100%; /* Agora respeita o limite do contêiner */
  height: auto;
  border-radius: 5px;
  border: 2px solid #f70505;
  display: block;
  margin-bottom: 10px;
}

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-button .chat-icon {
  font-size: 40px;
  color: #dc3545;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chat-button .chat-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rules-container {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 0px !important;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #dc3545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10;
}

button,
.btn-clickable {
  background-color: #dc3545;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px; /* Mantenha o padding consistente */
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover,
.btn-clickable:hover {
  background-color: #f88585;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
  box-shadow: 0 0 5px #ff5959;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
  box-shadow: 0 0 15px #ff5959;
}
