<div class="container">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-image">
        <img
          *ngIf="user?.profilePic; else noProfilePic"
          [src]="user.profilePic"
          alt="{{ user?.name }}"
        />
        <ng-template #noProfilePic>
          <img
            src="../../assets/images/default-avatar.jpg"
            alt="Imagem de perfil padrão"
          />
        </ng-template>
      </div>
      <div class="profile-info">
        <h2>{{ user.name }}</h2>
        <h3>{{ user.age }}</h3>
        <h4>{{ user.description }}</h4>
        <p>Seguidores: {{ user.followerCount }}</p>
        <p class="username">{{ user?.username }}</p>

        <button
          *ngIf="user._id !== getUserId()"
          (click)="toggleFollow()"
          class="follow-btn"
        >
          {{ isFollowing ? "Deixar de Seguir" : "Seguir" }}
        </button>

        <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
          {{ alertMessage }}
        </div>
      </div>
    </div>

    <app-modal
      [title]="title"
      [content]="modalContent"
      [showModal]="showModal"
      [postContent]="postContent"
      (close)="closeModal()"
      (publish)="onPublish($event)"
    ></app-modal>

    <button mat-icon-button (click)="openModal()" aria-label="Adicionar Post">
      <mat-icon>library_add</mat-icon>
    </button>

    <app-modal-profile
      [imageSrc]="selectedImage"
      [show]="showImageViewer"
      (closeEvent)="closeImageViewer()"
    ></app-modal-profile>

    <div class="gallery">
      <h3>Feed</h3>
      <div class="gallery-grid">
        <div *ngFor="let post of posts" class="gallery-item">
          <div *ngFor="let mediaUrl of post.media">
            <img
              *ngIf="isImage(mediaUrl)"
              [src]="mediaUrl"
              alt="Imagem do Post"
              class="post-image"
              (click)="openImageViewer(mediaUrl)"
            />
            <video
              *ngIf="!isImage(mediaUrl)"
              [src]="mediaUrl"
              controls
              class="post-video"
            ></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
