<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ "FORGOT_PASSWORD.TITLE" | translate }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="forgot-password.component.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body
    class="bg-dark text-light d-flex justify-content-center align-items-center vh-100"
  >
    <div class="container p-5 bg-secondary rounded" id="form-container">
      <h1 class="text-center mb-4">
        {{ "FORGOT_PASSWORD.HEADER" | translate }}
      </h1>

      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="{{ 'FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate }}"
            [(ngModel)]="email"
            required
            #emailInput="ngModel"
          />
          <div
            *ngIf="emailInput.invalid && emailInput.touched"
            class="text-danger"
          >
            {{ "FORGOT_PASSWORD.EMAIL_ERROR" | translate }}
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="forgotPasswordForm.invalid"
          >
            {{ "FORGOT_PASSWORD.SUBMIT_BUTTON" | translate }}
          </button>
        </div>
      </form>

      <div class="text-center mt-3">
        <a routerLink="/login" class="text-light">
          {{ "FORGOT_PASSWORD.BACK_TO_LOGIN" | translate }}
        </a>
      </div>
    </div>
  </body>
</html>
