<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NakedLove</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="home.component.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" />
      <div class="header-content">
        <h1 class="typewriter">Seja Bem-vindo ao NakedLove<span class="cursor"></span></h1>
        <p>
          Descubra várias conexões emocionantes e explore seus desejos em um
          ambiente seguro e discreto.<br />
          Faça parte de uma comunidade vibrante de pessoas que buscam
          relacionamentos quentes e intensos.
        </p>
        <button [routerLink]="['/register']" class="btn btn-primary cta">
          Cadastre-se Agora
        </button>
        <button [routerLink]="['/login']" class="btn btn-secondary login-btn">
          Login
        </button>
      </div>
    </header>

    <div class="image-container">
      <img src="assets/images/home.jpg" alt="Home" />
    </div>

    <footer>
      © 2024 Site de Relacionamento Adulto. Todos os direitos reservados.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      
      const textElement = document.querySelector('.typewriter');
      const text = textElement.textContent;
      textElement.textContent = '';
      let index = 0;

      function type() {
        if (index < text.length) {
          textElement.textContent += text.charAt(index);
          index++;
          setTimeout(type, 100); 
        }
      }

      type(); 
    </script>
  </body>
</html>
