<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NakedLove</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="home.component.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1 class="logo">Ⓝ</h1>
      <div class="header-content">
        <h1>Seja Bem-vindo ao NakedLove</h1>
        <p>
          Descubra várias conexões emocionantes e explore seus desejos em um
          ambiente seguro e discreto.<br />
          Faça parte de uma comunidade vibrante de pessoas que buscam
          relacionamentos quentes e intensos.
        </p>
        <a
          href="/NakedLove/18 rl p2/rl/cadastro/Cadastro.html"
          class="btn btn-primary cta"
          >Cadastre-se Agora</a
        >
        <a
          href="/NakedLove/18 rl p2/rl/login/login.html"
          class="btn btn-secondary login-btn"
          >Login</a
        >
      </div>
    </header>

    <div class="image-container">
      <img src="Home.jpg" alt="Home" />
    </div>

    <footer>
      © 2024 Site de Relacionamento Adulto. Todos os direitos reservados.
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="home.component.ts"></script>
  </body>
</html>
