<!DOCTYPE html>
<html lang="en">
<body>
<header>
  <img src="assets/images/nova logo.jpg" alt="Logo" class="logo" />
  <div class="header-content">
    <h1 class="typewriter">Welcome to Naked Love!<span class="cursor"></span></h1>
    <p>
      Discover countless emotional connections and explore your desires in a safe and discreet environment. <br />
      Join a vibrant community of people seeking passionate and intense relationships.

    </p>
    
    <button [routerLink]="['/register']" class="btn btn-primary cta">
      Register Now
    </button>
    <button [routerLink]="['/login']" class="btn btn-secondary login-btn">
      Login
    </button>
  </div>
  
</header>

    <div *ngIf="showAgeVerification" class="age-verification-container">
      <div class="age-verification-content">
        <p>
          {{ "HOME_PAGE.AGE_VERIFICATION_MESSAGE" | translate }}
        </p>
        <button (click)="acceptAgeVerification()" class="btn btn-primary">
          {{ "HOME_PAGE.AGE_VERIFICATION_ACCEPT" | translate }}
        </button>
        <button (click)="declineAgeVerification()" class="btn btn-secondary">
          {{ "HOME_PAGE.AGE_VERIFICATION_DECLINE" | translate }}
        </button>
      </div>
    </div>

    <div class="feedback-images">
      <img
        src="/assets/images/feed 1.png"
        alt="{{ 'HOME_PAGE.FEEDBACK_ALT1' | translate }}"
        class="feedback-img"
      />
      <img
        src="/assets/images/feed 2.png"
        alt="{{ 'HOME_PAGE.FEEDBACK_ALT2' | translate }}"
        class="feedback-img"
      />
      <img
        src="/assets/images/feed 3.png"
        alt="{{ 'HOME_PAGE.FEEDBACK_ALT3' | translate }}"
        class="feedback-img"
      />
    </div>

   

    <footer>
      © 2024 Adult Dating Site. All rights reserved.
    </footer>

    <script>
      const textElement = document.querySelector(".typewriter");
      const text = textElement.textContent;
      textElement.textContent = "";
      let index = 0;

      function type() {
        if (index < text.length) {
          textElement.textContent += text.charAt(index);
          index++;
          setTimeout(type, 100);
        }
      }

      type();
    </script>
  </body>
</html>
