<div class="page-wrapper">
  <div class="notification-toggle">
    <p class="toggle-description">
      {{ "NOTIFICATIONS1.TOGGLE_DESCRIPTION" | translate }}
    </p>
    <mat-slide-toggle
      [checked]="getNotificationsStatus()"
      (change)="toggleNotifications($event.checked)"
    >
      {{
        getNotificationsStatus()
          ? ("NOTIFICATIONS1.DISABLE" | translate)
          : ("NOTIFICATIONS1.ENABLE" | translate)
      }}
    </mat-slide-toggle>
  </div>

  <h1 class="typing-animation">{{ "NOTIFICATIONS1.TITLE" | translate }}</h1>

  <div class="notifications-container" *ngIf="followers.length > 0">
    <h3>{{ "NOTIFICATIONS1.LEFT_TITLE" | translate }}</h3>
    <ul>
      <li *ngFor="let follower of followers" class="notification">
        <img
          [src]="follower.profilePic || 'assets/images/default-avatar.jpg'"
          alt="Avatar do seguidor"
          class="avatar"
        />
        <span>{{ follower.name }} começou a seguir você!</span>
        <mat-icon>favorite</mat-icon>
      </li>
    </ul>
  </div>

  <div *ngIf="followers.length === 0" class="no-notifications">
    <p>{{ "NOTIFICATIONS1.NO_FOLLOWERS" | translate }}</p>
  </div>
</div>
