<div class="page-wrapper">
  <!-- Notification Toggle -->
  <div class="notification-toggle">
    <p class="toggle-description">
      {{ "NOTIFICATIONS1.TOGGLE_DESCRIPTION" | translate }}
    </p>
    <mat-slide-toggle
      [checked]="getNotificationsStatus()"
      (change)="toggleNotifications($event.checked)"
    >
      {{ "NOTIFICATIONS1.DISABLE" | translate }}
    </mat-slide-toggle>
  </div>

  <!-- Page Title -->
  <h1 class="typing-animation">{{ "NOTIFICATIONS1.TITLE" | translate }}</h1>

  <!-- Followers Section -->
  <div class="followers-container" *ngIf="followers.length > 0">
    <h3>{{ "NOTIFICATIONS1.LEFT_TITLE" | translate }}</h3>
    <ul>
      <li *ngFor="let follower of followers" class="notification">
        <img
          [src]="follower.profilePic || 'assets/images/default-avatar.jpg'"
          alt="Avatar do seguidor"
          class="avatar"
        />
        <div class="notification-content">
          <span>{{ follower.name }} começou a seguir você!</span>
          <mat-icon>favorite</mat-icon>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="followers.length === 0" class="no-followers">
    <p>{{ "NOTIFICATIONS1.NO_FOLLOWERS" | translate }}</p>
  </div>

  <!-- Notifications Section -->
  <div *ngIf="notifications.length > 0" class="notifications-container">
    
    <ul class="notifications-list">
      <li *ngFor="let notification of notifications" class="notification-item">
        <p>{{ notification }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="notifications.length === 0" class="no-notifications">
    <p>{{ "NOTIFICATIONS1.NO_NOTIFICATIONS" | translate }}</p>
  </div>
</div>
