<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - Site de Relacionamento Adulto</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="register.component.css" />
  </head>
  <body>
    <img src="assets/images/logo.jpg" alt="Imagem Casal" id="couple-image" />
   

    <div class="container mt-5" id="form-container">
      <h1 class="text-center mb-4">Cadastre-se</h1>

      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Nome de Usuário"
            [(ngModel)]="name"
            required
            name="name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="email"
            required
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            [(ngModel)]="password"
            required
            name="password"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirme sua Senha"
            [(ngModel)]="confirmPassword"
            required
            name="confirmPassword"
          />
        </div>
        <div class="form-group">
          <select
            id="gender-select"
            class="form-control"
            [(ngModel)]="gender"
            required
            name="gender"
          >
            <option value="" disabled selected>Selecione seu Gênero</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="HOM">Homosexual</option>
            <option value="TR">Transgênero</option>
            <option value="BI">Bigênero</option>
            <option value="NB">Não Binário</option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Idade"
            [(ngModel)]="age"
            required
            name="age"
          />
        </div>

        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="registerUser()"
        >
          Cadastrar
        </button>

        <div *ngIf="errorMessage" class="text-danger text-center mt-3">
          {{ errorMessage }}
        </div>
      </form>

      <a [routerLink]="['/login']" class="d-block text-center mt-3"
        >Já tem uma conta? Faça login</a
      >
      <app-checkbox label=" Aceito os termos e condições"></app-checkbox>
    </div>

   

    <div id="footer-image"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
