html, body {
  height: 100%;  /* Garante que a altura ocupe 100% da tela */
  margin: 0;     /* Remove qualquer margem padrão */
  display: flex; /* Usando Flexbox para garantir que o conteúdo se expanda */
  flex-direction: column; /* Organiza o conteúdo de forma vertical */
}

body {
  background: radial-gradient(circle, #000000 0%, #333333 100%);
  color: #910202;
  font-family: Arial, sans-serif;
  animation: fadeInBackground 2s ease-out;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Faz o body ocupar todo o espaço disponível */
}

#form-container {
  max-width: 480px;
  width: 100%;
  min-height: 71vh; /* Garantir que o container ocupe no mínimo 71% da altura da janela */
  background-color: rgba(20, 19, 19, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
  z-index: 2;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  display: flex;
  flex-direction: column; /* Alinha os itens no formulário em uma coluna */
  justify-content: flex-start; /* Alinha os itens ao topo do container */
}

#couple-image, #sexy-image {
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: transform 0.3s, filter 0.3s;
}

#couple-image {
  top: 10px;
  left: 12%;
  width: 77%;
  height: 98%;
  animation: fadeInCoupleImage 6s ease-out forwards;
}

#sexy-image {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeInSexyImage 1s ease-out forwards;
}

button,
.file-input-label {
  transition: transform 0.3s, filter 0.3s;
}

button:hover,
.file-input-label:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fa0505;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fbf6f6;
  color: #fa0505;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #fa0505;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e00404;
}

.file-input-label {
  background-color: #d73f3f;
  color: #fff;
  border: 1px solid #fa0505;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.file-input-label:hover {
  background-color: #5b0101;
  border-color: #dc393900;
}

@keyframes fadeInBackground {
  0% {
    background-color: rgb(26, 26, 26);
  }
  100% {
    background-color: #1a1a1a;
  }
}

@keyframes fadeInCoupleImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSexyImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
